PORT=3001
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=1d
GEMINI_API_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
ELICE_API_KEY=
FRONTEND_URL=
TURNSTILE_SECRET_KEY=
MAYAR_API_KEY=
MAYAR_WEBHOOK_SECRET=
BACKEND_URL=